{% extends 'mi_app/blog_list.html'%}
{%block up%}
<a href="{% url 'blog_list' %}">Volver a Lista Blogs</a>
<a href="{% url 'User-update' user.id %}">Editar Perfil</a>

<form class="text-white mt-0" method="post">
<ul>

    <li>Nombre: {{object.user.first_name}}</li>
        <li>Apellido: {{object.user.last_name}}</li>
        <li>Correo electrónico: {{object.user.email}} </li>
        <li>Nombre de Usuario: {{object.user.username}}</li>
        <li>Fecha de creacion: {{object.fecha_creacion}} </li>
    </ul>
    
    <img height="128" src="{{ object.image.url }}" />

{%endblock%}
{%block perro%}

{%endblock%}